<div class="row" style="margin-top:15em;">
  <form class="col s8 offset-s2  l4 offset-l4" (ngSubmit)="UserSubmitted()" [formGroup]="signinForm">
    <div class="card-panel">
      <div class="row center-align">
        <i class="large material-icons">account_box</i>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" placeholder="USERNAME" formControlName="userName">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="PASSWORD" type="password" formControlName="password">
        </div>
      </div>
      <div class="row" style="text-align: center">
        <button class="btn waves-effect waves-light btn-large" type="submit" name="action" [disabled]="signinForm.invalid">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>